extend layout
block content
 div(align="center")
  h1 STATUS ALREADY GIVEN !!!!!    
  h3 Your status is .....
 div(class="details-view")
  h3=details

 div(align="center")
  h3 update status !!!!!!
  form(method="get" action="/UpdateStatus")
   input(type="submit" name="submit" class="btn btn-primary" value="Update Status") 



