extends layout
block content
 DIV(ALIGN="CENTER")
  h1 GIVE UPDATE ---  KEEP AS SHORT AS POSSIBLE :P
  <br />
  <br />
 div(class="container")
  form(role="form" method="POST" action="/UpdateStatus")
    div(class="form-group" ALIGN="CENTER")
      textarea(class="form-control" rows="5" name="txtb")
      <br />
      <br />
 

      input(type="submit" class="btn btn-primary" name="submit" value="UPDATE STATUS")
    